<div class="experiment-container">
	<h1><%= @experiment.title %></h1>
	<small>Submitted at: <%= @experiment.created_at.strftime('%B %d %Y') %></small>
	<h2>Results</h2>
	<p><%= @experiment.results %></p>
	<h2>Conclusion</h2>
	<p><%= @experiment.conclusion %></p>
	<hv>	
	<!-- add link_to procedures -->
	<div class="procedures">
		<h2>@experiemnt.procedures.count %>Procedures :</h2>
		<%= render @experiment.procedures %>
		<h3>Add a Procedure:</h3>
		<%= render 'procedures/form' %>
	</div>
	<!-- add comments section -->
</div>