<%= form_for :proposal, url: proposal_path(:proposal) do |f| %>
  <%= render "shared/errors", object: @proposal %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </p>

  <p>
    <%= f.label :hypothesis %>
    <%= f.text_field :hypothesis %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
